<template>
    <div class="container">
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                <h1 class="title">
                    My Pwetty Shopping List
                </h1>
                <h2 class="subtitle">
                    For those "unique" people.
                </h2>
                </div>
            </div>
        </section>
        <div class="container box margin-top">
            <form class="container is-fluid" @submit.prevent="createItem()">
                <div class="field is-grouped">
                    <p class="control is-expanded">
                        <input class="input" type="text" placeholder="Add a description of your item" v-model="form.description">
                    </p>
                    <p class="control">
                        <input class="input" type="text" placeholder="Estimated price" v-model="form.price">
                    </p>
                    <p class="control">
                        <button class="button is-success" :class="{ 'is-loading': loading }" type="submit">Add Item</button>
                    </p>
                </div>
            </form>
        </div>
        <div class="container box margin-top" v-if="!items == []">
            <table class="table is-fullwidth is-striped">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in items" :key="item.id">
                        <td>{{ item.description }}</td>
                        <td>{{ item.price }}</td>
                        <td v-if="item.completed == 0"> 
                            <span class="tag is-warning">Still needed</span>
                        </td>
                        <td v-else>
                            <span class="tag is-success">Is aquired</span>
                        </td>
                        <td>
                            <button class="button is-danger" @click.prevent="deleteItem(item)">Remove</button>
                            <button class="button is-success" v-if="item.completed == 0" @click.prevent="updateStatus(item)">Checked</button>
                            <button class="button is-warning" v-else @click.prevent="updateStatus(item)">Uncheck</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    name: 'shopping-list',
    data () {
        return {
            loading: false,
            items: [],
            form: {
                description: '',
                price: '',
                completed: 0
            }
        }
    },
    methods: {
        getList() {
            axios.get('/api/list').then(response => {
                this.items = response.data.data
            });
        },
        async createItem() {
            this.loading = true

            await axios.post('/api/list', this.form).then(response => {
                this.items.push(response.data.data)
            });

            this.form.description = '',
            this.form.price = ''
            this.loading = false
        },
        updateStatus(item) {
            axios.put(`/api/list/item/${item.id}`, item).then(response => {
                this.getList()
            });
        },
        deleteItem(item) {
            axios.delete(`/api/list/item/${item.id}`).then(response => {
                this.getList()
            });
        }
    },
    created() {
        this.getList()
    }
}
</script>

